

#map-canvas-global {
   height: 100vh;
 }

#map-canvas-global img { 
  max-width: none;
}
#map-canvas-global label { 
  width: auto; display:inline; 
} 

.thumbnail {
	width: 15em;
}

.padding-overwrite {
  padding: 0px;
}