-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
.contain-to-grid
  %nav.top-bar.absolute{"data-topbar" => true}
    %ul.title-area
      %li.name
        =image_tag logo.png
        .logo=link_to "Kitshare", (root_url)
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          Menu
    .top-bar-section
      %ul
        = render 'layouts/navigation_links'